@import '~shared/components/varaibles.less';

.Root {
  max-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media @large {
    border-left: 1px solid @border-color-split;
    flex: 1;
    margin-left: 10px;
    padding-left: 10px;
  }

  @media @small {
    border-top: 1px solid @border-color-split;
    margin-top: 20px;
    padding-top: 20px;
  }
}

.Root::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.Button {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
