@import '~shared/components/varaibles.less';

.Root {
  width: 270px;
  border-right: 1px solid @border-color-split;
}

.Header {
  display: flex;
}

.Search {
  margin: 0 20px 20px 20px;
}

.Intent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
