.Header {
  margin-bottom: 10px;
}

.Tabs {
  :global(.ant-tabs-tab) {
    max-width: 300px;
    white-space: normal;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left !important;
  }
}

.Tab {
  //max-width: 80px;
  //height: 200px;
  //word-wrap: break-word;
  //word-break: break-all;
  //text-overflow: ellipsis;
  //overflow: hidden;
}

.Tips {
  //max-width: 380px;
  color: #8391a5;
  margin-bottom: 10px;
}

.Title {
  //max-width: 380px;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}
