@import '~shared/components/varaibles.less';

.Root {
  @media @large {
    display: flex;
  }
}

.Search {
  margin-bottom: 20px;
}

.Rules {
  flex: 1;
}

.ContentSlot {
  text-underline: @primary-color;
}
