@import '~shared/components/varaibles.less';

.Root {
  @media @large {
    display: flex;
  }
}

.Search {
  margin-bottom: 20px;
}

.Rules {
  flex: 1;
  max-height: 100vh;
  overflow: scroll;
}

.Selection {
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 10px;
}

.TableHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
