@import '~shared/components/varaibles.less';

.Root {
  display: flex;
}

.Rules {
  flex: 1;
}

.Words {
  flex: 1.5;
  border-left: 1px solid @border-color-base;
  margin-left: 20px;
  padding-left: 20px;
}
